<button (click)="begin()">
    開始
</button>

<table>
    <thead>
    <tr>
        <th></th>
        <th>屬性</th>
        <th>類型</th>
        <th>稀有度</th>

        <th>名稱</th>
        <th>體力</th>
        <th>攻擊</th>
        <th>防禦</th>
        <th>速度</th>

        <th>奧義</th>
        <th>隊長技能</th>
        <th>能力1</th>
        <th>能力2</th>
        <th>戰鬥技</th>
        <th>戰鬥技 CT</th>
        <th>熱血技</th>
        <th>熱血技 CT</th>
        <th>熱血技 消耗</th>

        <th>開眼 - 隊長技能</th>
        <th>開眼 - 能力1</th>
        <th>開眼 - 能力2</th>
        <th>開眼 - 戰鬥技</th>
        <th>開眼 - 戰鬥技 CT</th>
        <th>開眼 - 熱血技</th>
        <th>開眼 - 熱血技 CT</th>
        <th>開眼 - 熱血技 消耗</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let character of characters">
        <td><img [attr.src]="character.smallIcon" [attr.alt]="character.name"/></td>
        <td>{{ character.elementalType }}</td>
        <td>{{ character.roleType }}</td>
        <td>{{ character.rankType }}</td>

        <td><a [attr.href]="character.link">{{ character.name | translateToChinese }}</a></td>
        <td>{{ character.healthPoint }}</td>
        <td>{{ character.attack }}</td>
        <td>{{ character.defence }}</td>
        <td>{{ character.speed }}</td>
        <td>{{ character.strategy?.description | translateToChinese }}</td>

        <td>{{ character.leaderSkill?.description | translateToChinese }}</td>
        <td>{{ character.skill1?.description | translateToChinese }}</td>
        <td>{{ character.skill2?.description | translateToChinese }}</td>
        <td>{{ character.battleSkill?.description | translateToChinese }}</td>
        <td>{{ character.battleSkill?.coolDownTime }}</td>
        <td>{{ character.hitAttack?.description | translateToChinese }}</td>
        <td>{{ character.hitAttack?.coolDownTime }}</td>
        <td>{{ character.hitAttack?.cost }}</td>

        <td>{{ character.enhancedLeaderSkill?.description | translateToChinese }}</td>
        <td>{{ character.enhancedSkill1?.description | translateToChinese }}</td>
        <td>{{ character.enhancedSkill2?.description | translateToChinese }}</td>
        <td>{{ character.enhancedBattleSkill?.description | translateToChinese }}</td>
        <td>{{ character.enhancedBattleSkill?.coolDownTime }}</td>
        <td>{{ character.enhancedHitAttack?.description | translateToChinese }}</td>
        <td>{{ character.enhancedHitAttack?.coolDownTime }}</td>
        <td>{{ character.enhancedHitAttack?.cost }}</td>
    </tr>
    </tbody>
</table>
